:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #334155;
  background-color: white;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

svg {
  display: block;
}

button {
  font-size: 0.875rem;
  cursor: pointer;
  user-select: none;
}
