@use '../styles/var';

.action-group {
  margin-top: 4rem;
  padding: 0.5rem;
  background-color: #f9fafb;
  border-radius: 2rem;

  display: flex;
  align-items: center;

  .action-button {
    margin: 0 0.5rem;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: #f3f4f6;
    border-radius: 1.25rem;

    display: flex;
    align-items: center;

    &:not(:disabled):hover {
      background-color: #e5e7eb;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }

    .text {
      margin-left: 0.5rem;
      font-weight: bold;

      display: none;

      @media screen and (min-width: var.$screen-sm) {
        display: block;
      }
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
