.generate-group {
  margin-top: 2rem;

  display: flex;
  align-items: center;

  .generate-button {
    margin: 0 0.5rem;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0.6rem;
    transition: transform 0.2s;

    display: flex;
    align-items: center;

    &:active {
      transform: scale(0.95);
    }

    .text {
      margin-left: 0.5rem;
      font-weight: bold;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .generate-randomly {
    background-color: #fde047;

    &:hover {
      background-color: #facc15;
    }
  }

  .generate-multiple {
    background-color: #c4b5fd;

    &:hover {
      background-color: #a78bfa;
    }
  }
}
