@use '../styles/var';

.header {
  padding: 1rem 2rem;

  display: flex;
  align-items: center;

  .site-logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .site-title {
    margin-left: 1rem;
    font-size: 1.9rem;
    font-weight: bold;

    display: none;

    @media screen and (min-width: var.$screen-sm) {
      display: block;
    }
  }

  .header-right {
    margin-left: auto;
  }

  .github-button {
    width: 8rem;
    height: 2.5rem;
    font-weight: bold;
    background-color: #f3f4f6;
    border-radius: 0.6rem;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: var.$screen-sm) {
      width: 9rem;
    }

    &:hover {
      background-color: #e5e7eb;
    }

    .text {
      margin-left: 0.5rem;
      letter-spacing: 0.03rem;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
