.main {
  .content-view {
    position: relative;
    z-index: 100;

    & > .playground {
      padding: 2rem 0;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
